#This file must be placed in those folders which you want to password protect
#credentials are managed in secure/.htpasswd file. it can be generated at http://www.htaccesstools.com/htpasswd-generator/

AuthName "Secured path! Admin username/password required."
AuthType basic

#this must be absolute path. relative path is unsupported.
AuthUserFile /home/cabox/workspace/secure/.htpasswd

#Require all granted = allows all, Require valid-user = allows only those defined in AuthUserFile
Require valid-user